body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.resume-container{
    background-color: rgb(192, 174, 17);
    width: 800px;
    height: 300px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row-reverse;
    box-shadow: 0 2px 4px rgb(0,0,0,0.1);
    }
    .avatar{
        width: 180px;
        height: auto;
    }
    
    .details{
        display: flex;
        justify-content: flex-end;
        align-items: first baseline;
        

    }
    