body{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.banner {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}
.top-section{
    background-color: rgb(245, 242, 242);
    width: 670px;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
}

.small_image {
    width: 105px;
    height: 95px;
    border-radius: 50%;  
    object-fit: cover;  

}


.options{
    width: 50pxpx;
    height: 50px;

}
.profile_name{
    position: relative;
    right: 190px;
}
.image-container{
    width: 600px;
    height: 500px;
    order: 1;
}    
.size_photo{
    position: relative;
    top: 135px;
    right: 170px;
    width: 700px;
    height: 400px;

}