body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.banner{
    background-color: white;
    justify-self: center;
    width: 700%px;
    height: 570px;
    border: 1px solid #dbdbdb;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.1);
}
.top-section{
    background-color: rgb(255, 255, 255);
    width: 670px;
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
}

.small_image {
    width: 75px;
    height: 65px;
    border-radius: 50%;  
    object-fit: cover;  

}


.options{
    width: 35px;
    height: 35px;

}
.profile_name{
    position: relative;
    right: 240px;
    font-size:xx-large;
}

    
.post_photo{
    justify-self: center;
    width: 700px;
    height: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.1);
    border: 1px solid #dbdbdb;

}
.post-footer {
    padding: 5px;
  }
  
  .actions {
    display: flex;
    gap: 10px;
    font-size: 15px;
    padding: 5px;
  }
  
  .likes {
    font-weight: bold;
    margin: 0;
    padding: 5px;
  }
  .save {
    margin-left: auto;
  }