body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
}

.stats-container {
    width: 800px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: #222222;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;

}

.stats-table {
    width: 100%;
    border-collapse: collapse;
}

.stats-table thead {
    background-color: #444444;
}

.stats-table th, .stats-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #444;
}

.stats-table th {
    font-size: 18px;
    color: #fff;
}

.stats-table td {
    font-size: 16px;
}

.stats-table tbody tr:nth-child(odd) {
    background-color: #2e2e2e;
}

.stats-table tbody tr:nth-child(even) {
    background-color: #393939;
}
.kflag{
    width: 70px;
    height: auto;
}
.iflag{
    width: 70px;
    height: auto;
}